*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.logo{
    position: absolute;
width: 112px;
height: 66px;
left: 121px;
top: 21px;
}
.k-globeimg{
    
    position: absolute;
    width: 22px;
    height: 21px;
    left: 121px;
    top: 184px;
    
}
.k-globetext{
    position: absolute;
    width: 130px;
    height: 32px;
    left: 151px;
    top: 187px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
/* or 23px */
}
.k-clockimg{
    
position: absolute;
width: 22px;
height: 22px;
left: 306px;
top: 183px;

}
.k-clocktext{
    position: absolute;
width: 130px;
height: 32px;
left: 338px;
top: 187px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 115%;
/* or 23px */
}
.k-calendarimg{
    position: absolute;
width: 20px;
height: 22px;
left: 467px;
top: 183px;

}
.k-calendartext{
    position: absolute;
    width: 130px;
    height: 32px;
    left: 500px;
    top: 187px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
    /* or 23px */
}
.k-head-header{
    position: absolute;
width: 628px;
height: 190px;
left: 122px;
top: 248px;

font-family: Roboto Slab;
font-style: normal;
font-weight: bold;
font-size: 80px;
line-height: 101.38%;
}
.k-header-text-bottom{
    position: absolute;
width: 628px;
height: 190px;
left: 122px;
top: 248px;

font-family: Roboto Slab;
font-style: normal;
font-weight: bold;
font-size: 80px;
line-height: 101.38%;
}
.k-header-text-bottom{
    position: absolute;
width: 414px;
height: 62px;
left: 122px;
top: 427px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 150%;
}
.k-headerimagetop{
    position: absolute;
width: 304px;
height: 356px;
left: 890px;
top: 223px;
z-index: 1;
}
.k-headerimagebottom{
    position: absolute;
width: 274px;
height: 41px;
left: 921px;
top: 558px;
}
.k-headerblock{
    position: absolute;
width: 483.63px;
height: 200.02px;
left: 409.39px;
top: 666.62px;
right: 546.98px;  
border-radius: 5px;
background-color:#1E4681;
;
color: white;

}
.k-headerblocktop{
    
position: absolute;
width: 430.59px;
height: 113px;
/*left: 435.42px*/;
left: 20px;
top: 10px;

font-family: Roboto Slab;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 130%;
}
.k-headerblockbottom{
    position: absolute;
width: 280.5px;
height: 45.64px;
/*left: 594px;*/
left: 183px;
top: 165px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 130%;
/* or 26px */

text-align: right;

}
@media (max-width:1279px){
    .logo{
        position: absolute;
        width: 64.87px;
        height: 38.23px;
        left: 70.08px;
        top: 22px;
    }
    .k-globeimg{
        
    position: absolute;
    width: 12.74px;
    height: 12.16px;
    left: 70.08px;
    top: 116.4px;
    }
    .k-globetext{
        position: absolute;
        width: 75.29px;
        height: 18.53px;
        left: 87.45px;
        top: 118.14px;

        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 115%;
    }
    .k-clockimg{
        position: absolute;
        width: 12.74px;
        height: 12.74px;
        left: 177.23px;
        top: 115.83px;
    }
    .k-clocktext{
        position: absolute;
        width: 75.29px;
        height: 18.53px;
        left: 195.76px;
        top: 118.14px;
        
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 115%;
    }
    .k-calendarimg{
        
        position: absolute;
        width: 11.58px;
        height: 12.74px;
        left: 270.47px;
        top: 115.83px;

    }
    .k-calendartext{
        position: absolute;
        width: 75.29px;
        height: 18.53px;
        left: 289.58px;
        top: 118.14px;
        
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 115%;
        /* or 14px */
    }
    .k-head-header{
        position: absolute;
        width: 363.72px;
        height: 110.04px;
        left: 70.66px;
        top: 144.2px;
        
        font-family: Roboto Slab;
        font-style: normal;
        font-weight: bold;
        font-size: 46px;
        line-height: 101.38%;
        /* or 47px */
    }
    .k-header-text-bottom{
        
            position: absolute;
            width: 264px;
            height: 36px;
            left: 71px;
            top: 257px;

            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 150%;
/* or 18px */
    }
    .k-headerimagetop{
        
        position: absolute;
        width: 176.07px;
        height: 206.18px;
        left: 515.46px;
        top: 138.99px;

    }
    .k-headerimagebottom{
        
            position: absolute;
            width: 158.69px;
            height: 23.75px;
            left: 533.41px;
            top: 333.01px;
    }
    .k-headerblock{
        position: absolute;
        width: 280.11px;
        height: 115.83px;
        left: 237.1px;
        top: 395.92px;
    }
    .k-headerblocktop{
        position: absolute;
            width: 249.38px;
            height: 65.45px;
            

            font-family: Roboto Slab;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 130%;
                }
    .k-headerblockbottom{
        
        position: absolute;
        width: 162.46px;
        height: 26.43px;
        left: 96px;
        top: 90px;

        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 130%;
        /* or 16px */

        text-align: right;
    }
    @media (max-width:991px){
        .logo{
            
                position: absolute;
                width: 52.19px;
                height: 30.75px;
                left: 35px;
                top: 36px;
        }
        .k-globeimg{
            position: absolute;
            width: 10.25px;
            height: 9.79px;
            left: 35px;
            top: 111.95px;
        }
        .k-globetext{
              
            position: absolute;
            width: 60.58px;
            height: 14.91px;
            left: 48.98px;
            top: 111.35px;

            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 10px;
            line-height: 115%;
        }
        .k-clockimg{
                
            position: absolute;
            width: 10.25px;
            height: 10.25px;
            left: 121.21px;
            top: 111.49px;
        }
        .k-clocktext{
                
            position: absolute;
            width: 60.58px;
            height: 14.91px;
            left: 136.12px;
            top: 111.35px;

            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 10px;
            line-height: 115%;
/* or 11px */
        }
        .k-calendarimg{
            position: absolute;
            width: 9.32px;
            height: 10.25px;
            left: 196.23px;
            top: 111.49px;

        }
        .k-calendartext{
            position: absolute;
            width: 60.58px;
            height: 14.91px;
            left: 211.6px;
            top: 111.35px;
            
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 10px;
            line-height: 115%;
            /* or 11px */
        }
        .k-head-header{
            
            position: absolute;
            width: 292.63px;
            height: 88.53px;
            left: 35.47px;
            top: 134.32px;

            font-family: Roboto Slab;
            font-style: normal;
            font-weight: bold;
            font-size: 37px;
            line-height: 101.38%
        }
        .k-header-text-bottom{
                            
                position: absolute;
                width: 212.4px;
                height: 28.96px;
                left: 35.74px;
                top: 225.07px;

                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 10px;
                line-height: 150%;
        }
        .k-headerimagetop{
            position: absolute;
            width: 141.68px;
            height: 175.1px;
            left: 201px;
            top: 254px;
        }
        .k-headerimagebottom{
            
            position: absolute;
            width: 127.68px;
            height: 19.1px;
            left: 215px;
            top: 410px;
        }
        .k-headerblock{
                            
                position: absolute;
                width: 225.36px;
                height: 93.19px;
                left: 37.98px;
                top: 467.75px;

        }
        .k-headerblocktop{
            position: absolute;
width: 200.64px;
height: 52.65px;

font-family: Roboto Slab;
font-style: normal;
font-weight: normal;
font-size: 11px;
line-height: 130%;
/* or 14px */
        }
.k-headerblockbottom{
            
position: absolute;
width: 130.7px;
height: 21.27px;
left: 75px;
    top: 69px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 130%;
/* or 13px */

text-align: right;
        }
    }
}